<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="Bell.ca.Framework" version="1.0.8" targetFramework="net452" />
  <package id="Bell.Framework.Caching.DistCacheLib" version="1.0.0" targetFramework="net452" />
  <package id="deviceatlas-deviceapi" version="1.7.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
</packages>